<nav
  class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        class="text-2xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
        routerLink="/"
        >Edu-Free</a
      >
    </div>
    <div
      class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none"
      [ngClass]="{ hidden: !showMenu, block: showMenu }"
    >
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-sm uppercase font-bold"
            ><i
              class="lg:text-gray-300 text-gray-500 far fa-file-alt text-lg leading-lg mr-2"
            ></i>
            Courses</a
          >
        </li>
        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-sm uppercase font-bold"
            routerLink="/search"
          >
            Instructors</a
          >
        </li>
        <li class="flex items-center">
          <a
          routerLink="/calendar"
            class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-sm uppercase font-bold"
            ><i
              class="lg:text-gray-300 text-gray-500 far fa-file-alt text-lg leading-lg mr-2"
            ></i>
            Calendar</a
          >
        </li>
      </ul>
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li
          *ngIf="!(auth.isAuthenticated$ | async); else authLinks"
          class="flex items-center"
        >
          <button
            class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
            type="button"
            style="transition: all 0.15s ease 0s"
            routerLink="/status"
            routerLinkActive="text-black-400"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fas fa-arrow-alt-circle-down"></i> Log In
          </button>

          <button
            class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
            type="button"
            style="transition: all 0.15s ease 0s"
            routerLink="/register"
            routerLinkActive="text-black-400"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fas fa-arrow-alt-circle-down"></i> Sign Up
          </button>
        </li>
        <ng-template #authLinks >
            <li class="flex items-center">
              <button
                class="pi pi-user bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
                type="button"
                style="transition: all 0.15s ease 0s"
                routerLink= "/instructor-page"
                routerLinkActive="text-black-400"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="fas fa-arrow-alt-circle-down"></i>
              </button>
            </li>

          <li class="flex items-center">
            <button
              class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
              type="button"
              style="transition: all 0.15s ease 0s"
              (click)="auth.logout($event)"
            >
              <i class="fas fa-arrow-alt-circle-down"></i> Log Out
            </button>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
