<div class="row text-center bg-slate-700">
  <div class="col-md-4">
    <div class="col-md-4 py-14">
      <h3 class="text-white">
        {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
      </h3>
    </div>

    <div class="inline-flex rounded-md shadow-sm">
      <button
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
        type="button"
        class="py-3 px-4 inline-flex justify-center items-center gap-2 -ml-px first:rounded-l-lg first:ml-0 last:rounded-r-lg border font-medium bg-white text-gray-700 align-middle hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-600 transition-all text-sm dark:bg-gray-800 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400"
      >
        Month
      </button>
      <button
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
        type="button"
        class="py-3 px-4 inline-flex justify-center items-center gap-2 -ml-px first:rounded-l-lg first:ml-0 last:rounded-r-lg border font-medium bg-white text-gray-700 align-middle hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-600 transition-all text-sm dark:bg-gray-800 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400"
      >
        Week
      </button>
      <button
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
        type="button"
        class="py-3 px-4 inline-flex justify-center items-center gap-2 -ml-px first:rounded-l-lg first:ml-0 last:rounded-r-lg border font-medium bg-white text-gray-700 align-middle hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-600 transition-all text-sm dark:bg-gray-800 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400"
      >
        Day
      </button>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
    
    <div class="table-responsive py-5 grid place-items-center">
      <button
      (click)="addEvent()"
      type="button"
      class="bg-white text-gray-700 align-middle hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-2 focus:ring-gray-600 transition-all text-sm dark:bg-gray-800 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 font-bold py-2 px-4 rounded mr-2 mb-5"
    >
      Add Event
    </button>
      <table class="">
        <thead>
          <tr>
            <th>Title</th>
            <th>Primary color</th>
            <th>Secondary + text color</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Remove</th>
          </tr>
        </thead>
  
        <tbody class="">
          <tr *ngFor="let event of events">
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.title"
                (keyup)="refresh.next()"
              />
            </td>
            <td>
              <input
                type="color"
                [(ngModel)]="event.color!.primary"
                (change)="refresh.next()"
              />
            </td>
            <td>
              <input
                type="color"
                [(ngModel)]="event.color!.secondary"
                (change)="refresh.next()"
              />
              <input
                type="color"
                [ngModel]="event.color!.secondaryText ?? '#1e90ff'"
                (ngModelChange)="event.color!.secondaryText = $event"
                (change)="refresh.next()"
              />
            </td>
            <td>
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.start"
                (ngModelChange)="refresh.next()"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
            <td>
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.end"
                (ngModelChange)="refresh.next()"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
            <td>
              <button class="" (click)="deleteEvent(event)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br /><br /><br />
  
    <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Action:
          <pre>{{ modalData!.action }}</pre>
        </div>
        <div>
          Event:
          <pre>{{ modalData!.event }}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          OK
        </button>
      </div>
    </ng-template>
  </div>
  
  </div>



  

  