<app-navbar></app-navbar>

<div
  class="bg-gray-700 py-20 relative pt-16 pb-32 flex content-center items-center justify-center"
  style="min-height: 75vh"
>
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style="
      background-image: url('https://images.pexels.com/photos/4492497/pexels-photo-4492497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    "
  >
    <span
      id="blackOverlay"
      class="w-full h-full absolute opacity-75 bg-black"
    ></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
        <div class="pr-12">
          <h3 class="mb-7 font-semibold   text-transparent text-2xl bg-clip-text bg-gradient-to-r from-blue-600 via-green-200 to-indigo-400" >
            Search For One-to-One Courses, Lecture Notes, Instructures...
          </h3>
        </div>
        <div class="max-w-4xl h-10 mx-auto">
          <form>
            <label
              for="default-search"
              class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300"
              >Search</label
            >
            <div class="relative opacity-50">
              <div
                class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
              >
                <svg
                  class="w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                  ></path>
                </svg>
              </div>

              <input
                type="search"
                (ngModelChange)="searchUsers(key.value)"
                #key="ngModel"
                ngModel
                name="key"
                id="searchName"
                class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search Instructors, Courses, Lecture Notes..."
                required
              />
              <button
                type="submit"
                class="opacity-70 text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Search
              </button>
            </div>
          </form>

          <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class=" bg-gray-700 font-sans  w-full flex flex-wrap gap-4 justify-center items-center"
>
  <div *ngFor="let instructor of instructors" class="flex flex-row max-h-full  max-w-prose" style="height: 495px; width: 250px;">
    <div class="bg-white shadow-xl rounded-lg py-3">
      <div class="photo-wrapper p-2">
        <img
          class="w-32 h-32 rounded-full mx-auto"
          src={{instructor.imgUrl}}
       
        />
      </div>
      <div class="p-2">
        <h3 class="text-center text-xl text-gray-900 font-medium leading-8">
          {{ instructor.name }} {{ instructor.lastName }}
        </h3>
        <div class="text-center text-gray-400 text-xs font-semibold">
          <p> {{ instructor.description }}</p>
        </div>
        <table class="text-xs my-3">
          <tbody>
            <tr>
              <td class="px-2 py-2 text-gray-500 font-semibold">Email</td>
              <td class="px-2 py-2">
                {{ instructor.email }}
              </td>
            </tr>
            <tr>
              <td class="px-2 py-2 text-gray-500 font-semibold">Phone Number</td>
              <td class="px-2 py-2">
                {{ instructor.phoneNumber }}
              </td>
            </tr>
            <tr>
              <td class="px-2 py-2 text-gray-500 font-semibold">University</td>
              <td class="px-2 py-2">
                {{ instructor.university }}
              </td>
            </tr>
            <tr>
              <td class="px-2 py-2 text-gray-500 font-semibold">Department</td>
              <td class="px-2 py-2">
                {{ instructor.department }}
              </td>
            </tr>
            <tr>
              <td class="px-2 py-2 text-gray-500 font-semibold">Courses</td>
              <td>
                <li *ngFor="let course of instructor.courses">
                  {{ course.name.toString() }}
                </li>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="text-center">
          <a
            class="text-xs text-indigo-500 italic hover:underline hover:text-indigo-600 font-medium"
            routerLink="/search/view-profile"
            >View Profile</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
